@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

body{
  margin: 0px;
  font-family: 'Noto Sans JP', serif;
}

p, h1, h2, h3, .link, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #035096;
}

/* nav & footer styles */
nav{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #035096;
}
nav .link{
  margin-left: 20px;
  font-size: 16px;
}
nav h1 {
  color: #1288f6;
  font-size: 40px;
  font-style: normal;
  text-decoration: none;
}

.title {
  display: flex;
}

.link:hover {
  border-bottom: 1px solid #1288f6;
}

.active  {
  border-bottom: 3px solid #1288f6;
}

footer {
  margin-top: 5px;
  padding: 5px;
  border-top: 1px solid #035096;
}